vagrant/*
!vagrant/main.sh
!vagrant/Vagrantfile
.temp.*
ansible/roles/*
ansible/*.retry
ansible/inventory_aws
!ansible/roles/requirements.yml
rootkey.csv
terraform/.terraform*
terraform/private_key*
terraform/terraform*
terraform/.aws_*
inspec/*/inspec.lock
inspec/attributes.yml